.pg-home #c-level-1 {
    main {
        section.hero { height: 845px;width: 100%; }
        section.nav-blocks {
            div.row {
                h3 { font-weight: bold;font-size: 2em; }
                & > div { background-size: 100% 100%;background-position: 50% 50%;background-repeat: no-repeat;position: relative;padding: 0 0 33% 0 !important;@include blockTransition();
                    a.shade { display: block;width: 100%;height: 100%;position: absolute;top: 0; bottom: 0; left: 0; right: 0;color: $theme-color-white;padding: 42% 20%;text-align: center;@include blockTransition();transition-delay: 0.25s;-webkit-transition-delay: 0.25s;
                        .extra { opacity: 0;height: 1px;@include blockTransition();transition-delay: 0.25s;-webkit-transition-delay: 0.25s; }
                        .more { opacity: 1;font-family: $theme-font-family-headers;font-size: 1em;@include blockTransition();transition-delay: 0.25s;-webkit-transition-delay: 0.25s; }
                    }
                    &:hover { background-size: 170% 170%;background-position: 50% 50%;
                        a.shade { background-color: rgba(18,10,7,0.70);color: $theme-color-white;text-decoration: none;padding: 25% 20%;
                            .extra { opacity: 1;height: 70px; }
                            .more { opacity: 0; }
                        }
                    }
                }
                div.about { background-image: url("#{$image-path}/about.jpg");
                    a.shade { padding: 12% !important;
                        .extra { opacity: 1 !important;height: auto !important; }
                        .more { padding-top: 10px; }
                    }
                }
                div.resources { background-image: url("#{$image-path}/resources.jpg"); }
                div.blog { background-image: url("#{$image-path}/blog.jpg"); }
            }
        }
        section.search { padding-top: 0px !important;padding-bottom: 50px; }
    }
}