$landing-masthead-height: 470px;
.pg-landing #c-level-1 {
    section.hero { width: 100%;height: 560px;margin-top: $nav-header-short-height;
        .masthead { width: 100%;height: 100%;position: relative;overflow: hidden;
            .node { height: 100%;width: 100%;display: table;visibility: hidden;opacity: 0;position: absolute;top: 0;left: 0;
                &:first-of-type { visibility: visible;opacity: 1; }
                .inner { width:100%;height:100%;display:block;text-align:left;
                    .node-image { width: 50%;height: 100%;float: left;
                        & > div.ccm-custom-style-choosebackgroundimage { background-size: cover;background-position: 50% 50%;height: 100%;width: 100%; }
                    }
                    .node-content {width: 50%;height: 100%;float: right;font-size:1.3rem;padding-left:2rem;background-color: $theme-color-red;color: $theme-color-white;
                        h3 { margin-top: 130px;text-transform: uppercase; }
                        a.btn { color: $theme-color-red;background-color: $theme-color-white;margin-top: 15px; }
                    }
                    @media screen and (max-width:$screen-sm) {
                        .node-content { padding: 0 1em 20px 1em;height: auto !important; }
                        .node-image, .node-content { width: 100%;height: 50%;float: left;max-width: 100%;
                            h3 { margin-top: 20px; }
                        }
                    }
                }
            }
        }
    }

    section.subnav { text-align: center;
        h3 { display: inline-block;padding-left: 30px;text-transform: uppercase;width: 100%;max-width: 1000px;text-align: left; }
        div.pagination { padding: 10px 0 20px 0;
            ul { list-style: none;width: 100%;margin: 0;padding: 0 0 0 30px;color: $theme-color-brown;font-family: $theme-font-family-headers;font-size: 0.9em;display: inline-block;max-width: 1000px;
                li { display: inline-block;color: $theme-color-brown;float: left; padding-right: 10px;
                    &:hover, &.active { color: $theme-color-red; }
                    &:first-of-type { color: $theme-color-brown; }
                }
            }
        }
        div.pagelist { min-height: 300px;height: 100%;text-align: center;opacity: 1;
            -webkit-transition: all 500ms ease-out;-moz-transition: all 500ms ease-out;-o-transition: all 500ms ease-out;transition: all 500ms ease-out;
            span { font-size: 12em;color: $theme-color-brown; }
            ul { list-style: none;padding: 0;margin: 0 auto;display: inline-block;width: 100%;height: 100%;max-width: 1000px;
                li { list-style: none;padding: 0 30px;margin: 0;width: 49%;display: inline-block;vertical-align: top;
                    a { width: 100%;display: block;padding: 10px 0;color: $theme-color-brown;font-family: $theme-font-family-headers;
                        &:hover { color:$theme-color-red;text-decoration: none; }
                        div.pg-icon { overflow: hidden;padding-bottom: 58%;display: block;background-size: cover;background-position: 70% 50%;height: 100%;width: 100%;max-width: 475px; }
                        h4 { font-weight: bold;font-size: 0.9em;text-align: left;width: 100%;text-transform: uppercase;margin-bottom: 5px;padding-top: 10px; }
                        p { text-align: left;font-size: 0.9em; }
                    }
                }
                @media screen and (max-width:$screen-xs) {
                    li { width: 100% !important;padding-top: 20px; }
                }
            }
        }
    }
}