// in common
body #c-level-1 header { position: fixed;top: 0;left: 0;width: 100%;
    nav {
        .logo { display: block;float: left;background-repeat: none; }
        ul { display: block;float: right;margin: 0;
            li { display: block;float: left;margin:0 17px;list-style: none;font: 1em $theme-font-family-headers;font-weight: 700;text-transform: uppercase;
                a {
                    &:hover { color: $theme-color-red !important;text-decoration: none; }
                }
            }
        }
    }
}
// short header
body #c-level-1 header, body.pg-home #c-level-1 header.shrink { height:$nav-header-short-height;background-color: $nav-header-short-bg-color;padding: 0 40px;
    nav {
        .logo { background-image: url('#{$image-path}/logo_red.png');width: 232px;height: 43px;margin-top:15px; }
        ul { padding: 30px 0;
            li a { color: $theme-color-brown; }
        }
    }
}
// tall header
body.pg-home #c-level-1 header { height:$nav-header-full-height;background-color: $nav-header-full-bg-color;padding: 0 40px;
    nav {
        .logo { background-image: url('#{$image-path}/logo_white.png');width: 306px;height: 88px;margin-top:35px; }
        ul { padding: 100px 0 35px 0;
            li a { color: $theme-color-white; }
        }
    }
}