// in common
body #c-level-1 header { position: fixed;top: 0;left: 0;width: 100%;
    div.trigger { display: none; }
    nav { width: 100%;
        & > div.navigation { display: inline-block;text-align: right;float: right; }
        .logo { display: block;float: left;background-repeat: none; }
        ul { display: block;float: right;margin: 0;position: relative;min-width:100px;
            li { display: block;float: left;margin:0 17px;list-style: none;font: 1em $theme-font-family-headers;font-weight: 700;text-transform: uppercase;
                &.contact { margin:0 !important; }
                a {
                    &:hover, &:active { color: $theme-color-red !important;text-decoration: none; }
                    i.icon-arrow-down { line-height: 0.5; }
                }
                &.nav-selected {
                    a { color:$theme-color-red; }
                }
            }
            li.sub { position:relative;padding: 0; margin: 0;font-size: 0.9em;visibility: hidden;opacity: 0;
                & > ul { display: flex;position: absolute;top: 25px;right: -35px;background-color: $theme-color-red;border: 1px solid $theme-color-darkred;height: 180px;padding: 0 10px !important; }
                li { width: 180px;float: left;text-align: center;margin: 0 !important;
                    a { color: $theme-color-white !important; }
                    a:hover { color: $theme-color-beige !important;text-decoration: none; }
                    div.pg-icon { overflow: hidden;display: block;background-size: cover;background-position: 70% 50%;width: 160px;height: 100px;margin: 20px auto 15px auto; }
                }
//                &.open { visibility: visible;opacity: 1; }
                &#sub-contact {
                    & > ul { width: 250px;display: block;color: $theme-color-white;height: 200px;position: absolute;top: 25px;right: -35px;
                        & > li { width: 100%;float: none;display: block;text-align: left;width: 100%;text-transform: none;
                            img { padding-top: 0.8em; }
                            & > ul.social { display: block;position: relative;padding: 10px 0;float: none;
                                li { float: left;display: inline-block;width: 30px;text-align: left;
                                    a { color: $theme-color-white;font-size: 1.5em;
                                        &:hover, &:active { color: $theme-color-beige;text-decoration: none; }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    & > ul.social { position: absolute; top: 45px; right: 35px;display: inline-block;
        li { float: left;display: inline-block;width: 30px;text-align: left;
            a { color: $theme-color-white;
                &:hover, &:active { color: $theme-color-beige;text-decoration: none; }
            }
        }
    }
}
// short header
body #c-level-1 header, body.pg-home #c-level-1 header.shrink { height:$nav-header-short-height;background-color: $nav-header-short-bg-color;padding: 0 40px;@include bottomBorder();
    nav {
        a.logo { background-image: url('#{$image-path}/logo_red.png');background-repeat: no-repeat;width: 232px;height: 43px;margin-top:15px; }
        ul { padding: 30px 0;
            li a { color: $theme-color-brown; }
        }
    }
}
// tall header
body.pg-home #c-level-1 header { height:$nav-header-full-height;background-color: $nav-header-full-bg-color;padding: 0 40px;border-bottom: none !important;
    nav {
        a.logo { background-image: url('#{$image-path}/logo_white.png');background-repeat: no-repeat;width: 306px;height: 88px;margin-top:35px; }
        ul { padding: 100px 0 35px 0;
            li a { color: $theme-color-white; }
        }
    }
}

div#mobileNav { display: none; }
ul.sidebar { display: none !important; }

@media screen and (max-width:$screen-sm) {
    [slideable].open { right: calc(100% - 75px); }
    body.pg-home #c-level-1 {
        header { height:$nav-header-short-height;padding: 0 20px;
            nav {
                a.logo { background-image: url('#{$image-path}/logo_white_mobile.png');width: 232px;height: 43px;background-size: contain;margin-top: 15px; }
                ul { padding: 0 0 35px 0; }
            }
        }
    }
    body #c-level-1 header { padding: 0 20px;height:$nav-header-short-height;
        div.trigger { display: block;text-align: center;height: $nav-header-short-height;width: 75px;position: absolute;top: 0;right: 0;background-color: $theme-color-red;border-bottom: 1px solid $theme-color-darkred;
            a { height: $nav-header-short-height;width: $nav-header-short-height;float: left;color: $theme-color-white;
                &:before { content: "";position: absolute;left: 20px;top: 23px;width: 32px;height: 3px;background: $theme-color-white;box-shadow: 0 10px 0 0 $theme-color-white, 0 20px 0 0 $theme-color-white; }
                &:hover { color: $theme-color-beige; }
            }
        }
        nav {
            ul.majority { display: none; }
        }
    }
    div#mobileNav { display: block;position: fixed;top: 0;left: 100%;width: calc(100% - 75px);height: 100%;overflow-y: scroll;background-color: $theme-color-red;
        &.open { left: $nav-header-short-height;}
        ul.sidebar { display: block !important;width: 100%;height: 100%;background-color: $theme-color-red;list-style: none;padding: 0;border-left: 1px solid $theme-color-darkred;
            li { width: 100%;border-bottom: 1px solid $theme-color-darkred;margin:0;height: $nav-header-short-height;padding: 0 20px;line-height: 4.8em;
                a { color: $theme-color-white;text-transform: uppercase;font-family: $theme-font-family-headers;font-weight: bold;
                    &:hover { color: $theme-color-beige;text-decoration: none; }
                }
                &.nav-selected a { color: $theme-color-beige; }
            }
            li.contact { border-bottom: 0;height: auto;line-height: inherit;
                img { padding-top: 1rem; }
                div.address { color: $theme-color-white; }
                ul.social { display: block;position: relative;padding: 10px 0;float: none;
                    li { float: left;display: inline-block;width: 30px;text-align: left;border-bottom: 0;padding: 0 45px 0 0 !important;
                        a { color: $theme-color-white;font-size: 1.5em;
                            &:hover, &:active { color: $theme-color-beige;text-decoration: none; }
                        }
                    }
                }
            }
        }


    }
}

@media screen and (max-width:$screen-xs) {
    body #c-level-1 header { padding: 0 5px !important;
        nav a.logo { width: 217px !important;background-size: contain; }
    }
}