.masthead { width: 100%;height: 100%;position: relative;overflow: hidden;color: $theme-color-white;
    .node { height: 845px;width: 100%;display: table;visibility: hidden;opacity: 0;position: absolute;top: 0;left: 0;background-size: cover;background-position: 70% 50%;
        &:first-of-type { visibility: visible;opacity: 1; }
        .inner {width:100%;height:100%;display:table-cell;vertical-align:middle;text-align:right;padding-bottom:2rem;}
        .node-content {font-size:1.3rem;display:inline-block;max-width:50%;padding:0 2rem;
            p { margin: 0 0.4em; }
            h2 { text-align: right !important;padding: 0 0.4em !important;
                p { padding: 0 !important;margin: 0 !important; }
            }
            a.btn { margin-top: 25px; }
        }
    }
    // Markers
    .markers { position:absolute;left:0;right:0;bottom:0;width:100%;text-align:center;padding:1rem;font-size:0;line-height:0;
        a { color:$theme-color-red;display:inline-block;padding:0.25rem;font-size:14px;line-height:1;
            &:hover, &.active {color:$theme-color-darkred;text-decoration:none;}
        }
    }
    // Arrows
    .arrows {color:$theme-color-beige;position:absolute;top:100%;font-size:4rem;padding:0;line-height:1;@include transform(translateY(-100%));@include transition(all 0.25s ease);z-index:1;
        &:hover {color:lighten($theme-color-beige, 12%);text-decoration:none;}
        &[class*="left"]{left:0;
            &:hover {padding-left:0.25rem;}
        }
        &[class*="right"]{right:0;
            &:hover {padding-right:0.25rem;}
        }
    }

    .edit-arrows {
        display: block;height: 60px;width: 40px;color: #ffffff;
    }

    @media screen and (max-width:$screen-sm) {
        .node {
            .inner { text-align:center; }
            .node-content { max-width: 95%; }
        }
    }
    @media screen and (max-width:$screen-xs) {
        .node .node-content > div > p { display: none;margin: 0; }
    }
    .circles { width: 100%; height: 30px;text-align: center;position: absolute;bottom: 0;left: 0;
        a { display:inline-block;margin:0 2px;width:16px;height: 16px;-moz-border-radius: 8px;-webkit-border-radius: 8px;border-radius: 8px;border: 3px solid $theme-color-white;background-color: transparent;
            &:hover, &.active {color:$theme-color-white;text-decoration:none;background-color:$theme-color-white; }
        }
    }
}
