<IfModule mod_rewrite.c>
  RewriteEngine On


  ################ FORCE HTTPS EXAMPLES (PAGODABOX SPECIFIC) ################
  #-- redirect anything domains containing "something" to a specific page --#
  #RewriteCond %{HTTP_HOST} ^((.*)something(.*))$ [NC]
  #RewriteRule ^ http://base-domain.com/something-url-here [L,R=301]

  #-- REDIRECT ANY DOMAINS THAT ARENT: test.org, lo.cal:**** (vagrant ssl), --#
  #-- or localhost:**** (vagrant normal) to "test.org" --#
  #RewriteCond %{HTTP_HOST} !^((test\.org)|(lo\.cal(.*))|localhost(.*))$ [NC]
  #RewriteRule ^ http://test.org%{REQUEST_URI} [L,R=301]

  #-- FORCE SITEWIDE HTTPS (UNCOMMENT BELOW) --#
  #RewriteCond %{HTTP:X-Forwarded-Proto} !https
  #RewriteCond %{HTTPS} off
  #RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R,L]

  #-- FORCE HTTPS ON ACCESSING /login/* or /dashboard/* (UNCOMMENT BELOW) --#
  #RewriteCond %{HTTP:X-Forwarded-Proto} !https
  #RewriteCond %{REQUEST_URI} ^/login/?.*$ [OR]
  #RewriteCond %{REQUEST_URI} ^/dashboard/?.*$
  #RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R,L]
  ###########################################################################

  # Redirect all domains to lintonbingle.com (unless 192... (a local IP), or localhost...)
  RewriteCond %{HTTP_HOST} !=lintonbingle.com
  RewriteCond %{HTTP_HOST} !^((lintonbingle\.com)|(.*)gopagoda(.*)|(.*)focusfortythree(.*)|(192\.(.*))|localhost(.*))$ [NC]
  RewriteRule ^ http://lintonbingle.com%{REQUEST_URI} [L,R=301]

  RewriteBase /
  RewriteCond %{REQUEST_URI} !^/favicon.ico$
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME}/index.html !-f
  RewriteCond %{REQUEST_FILENAME}/index.php !-f
  RewriteRule . index.php [L]
</IfModule>